.mint_wrap {
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 120px auto 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .mint {
        height: 400px;
        margin-left: 20px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        .fuck_off {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            color: #000;
            text-align: center;
            font-family: 'asphyxiate';
            font-size: 52px;
        }

        .button {
            color: #000;
            text-align: center;
            font-family: 'asphyxiate';
            font-size: 152px;
            line-height: 152px;
            border-bottom: #000 solid 3px;
            cursor: pointer;
        }

        .socal_button {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 120px;
            height: 48px;
            margin-top: 35px;

            img {
                display: inline-block;
                width: 48px;
                height: 48px;
                cursor: pointer;
            }
        }
    }

    .bo {
        width: 440px;
        height: 600px;
        background-image: url(../assets/bo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }
}